*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

.metadata/*
.settings/*
# YARD artifacts
.yardoc
_yardoc
doc/
.project

#test/*